@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-brand-50 text-brand-900 font-sans antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-serif;
}

/* Custom scrollbar for better look */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-brand-50;
}

::-webkit-scrollbar-thumb {
  @apply bg-brand-300 rounded hover:bg-brand-400;
}